body {
    margin: 0;
}

.gallery--title {
    color: gold;
    text-shadow: 2px 2px 3px gray;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--title-fonts);
}

.blackBold {
    color: black;
    font-weight: bold;
}