:root {
  background: white;
  --text-fonts: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --title-fonts: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
  --background-color: rgba(254, 247, 242);
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(254, 247, 242);
}

.right {
  float: right;
}

