@media screen and (max-width: 5000px) {
    .mapContainer {
        width: 70%;
        height: 50vh;
    }
}

@media screen and (max-width: 600px) {
    .mapContainer {
        width: 100%;
        height: 20vh;
    }
}


.mapContainer {
    margin: 0 auto;
    margin-bottom: 40px;
}